[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
opentsne = "*"
opencv-python = "*"
matplotlib = "*"
tqdm = "*"
psutil = "*"
torch = "*"
numpy = "==1.*"
torchvision = "*"
focal-loss-torch = "*"

[dev-packages]

[requires]
python = "~=3.12.*"
